.home-content {
    padding-top: 130px;
    padding-left: 120px;
    padding-bottom: 24px;
}

.home-text-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
}

.home-text-sub-title {
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
}

.home-btn-comecar {
    margin-top: 50px;
}