.btn-rectangle {
    width: 100px;
    height: 40px;
    left: 120px;
    top: 595px;
    background: #1890FF;
    border: 0;
    border-radius: 4px;
}

.btn-content {
    width: 100px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;    
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 15px 10px 16px;
}
