.search-container {
    margin: 40px 90px 0 90px;
    padding: 65px 500px 0px 95px;
    height: 250px;
    background: #E6F7FF;
    border-radius: 16px;
}

.search-text-title {
    flex: 1;
    height: 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
}

.search-input {
    width: 676px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 12px;
    margin-bottom: 24px;
}

.toast-notification {
    margin-top: 55px;
    width: 500px;
}

.search-button {
    display: grid;
    width: 45%;
    grid-template-columns: 1fr 1fr;
}