@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
   font-family: 'Open Sans', sans-serif;
}

body {
    background: #E5E5E5;
    line-height: 1;    
}

.button-link-decoration {
    text-decoration: none;
}
